.card-container {
  position: relative;
  background-color: #e9f5ff;
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
  min-height: 300px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.95);
}

.card-container:hover {
  transform: scale(1.05);
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: opacity 0.3s ease;
  align-items: center;
}

.card-content small {
  color: #6c757d;
  font-size: 12px;
}

.card-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.card-container:hover .card-content {
  opacity: 0;
}

.card-container:hover .card-hover {
  opacity: 1;
  pointer-events: auto;
}

.card-content i.icon {
  font-size: 50px;
  color: #4fa3ff;
  margin-bottom: 10px;
}

.card-content h5 {
  font-size: 18px;
  font-weight: bold;
  color: #043873;
  margin-bottom: 10px;
}

.card-content button {
  font-size: 14px;
  padding: 8px 16px;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 16px;
  font-weight: bold;
  color: #021a44;
  margin-bottom: 8px;
}

.card-hover p {
  font-size: 16px;
  font-weight: bold;
  color: #021a44;
  margin-bottom: 8px;
}

.card-hover small {
  color: #6c757d;
  font-size: 12px;
}

.card-hover button {
  font-size: 14px;
  padding: 8px 16px;
  margin-bottom: 10px;
}
.modal-open-hover-disabled .card-container:hover {
  transform: none;
}