h5 {
  margin-top: -20px;
}

header {
  background-color: #CCE5FF;
  text-align: center;
  color: #043873;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 15px;
  border-radius: 40px;

}

.content {
  margin-left: 10px;
  width: calc(100% - 200px);
  padding: 20px;

}

.hero-section {
  background: url('../../img/RuanganDashboard.png') center/cover no-repeat;
  padding: 100px 20px;
  border-radius: 30px;
}

.hero-section h2 {
  color: #FFE492;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.hero-section p {
  color: #FFE492;
  font-size: 1.5rem;
  font-weight: 500;
}